[Unit]
Description=Spring application Service

[Service]
Group=alt
User=alt
ExecStart=/lib/jvm/java/bin/java -Xmx256m -jar {{host_app_destination}}/{{app_file_name}}
SuccessExitStatus=143
TimeoutStopSec=15
Restart=on-failure
RestartSec=15

[Install]
WantedBy=multi-user.target
