input {
  beats {
    port => 5044
    type => "beat"
  }
  udp {
    port => 10514
    codec => "json"
    type => "rsyslog"
  }
}

output {
  if [type] == "rsyslog" {
    elasticsearch {
      hosts => ["http://localhost:9200"]
      index => "%{[event_producer]}-%{+YYYY.MM.dd}"
    }
  }
  if [type] == "beat" {
    pipeline {
        send_to => beats_pipeline
    }
  }
}